*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-image: linear-gradient(to top, #fd658b, #ff6480, #ff6474, #ff6568, #fe675c);
  height: 100vh;
}
.App h1 {
  font-family: "Nunito", sans-serif;
  color: #fff;
  padding-top: 3em;
  font-weight: 200;

}
.wrapper {
  border: 3px solid white;
  width: 45%;
  min-height: 40vh;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 3rem;
  background-color: #fff;
}


.newTodoArea{
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
.newTodoArea .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #FD658B;
  color: #fff;
  margin-left: 10px;
}
label{
  padding-right: 1em;
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #FD658B
}
input {
  height: 40px;
  border-radius: 10px;
  border: 2px solid #FD658B;
  padding: 10px;
}
.todo-list{
  margin-top: 30px;
  font-family: 'Nunito', sans-serif;
}
.todo-list li {
  list-style: none;
  padding: 10px;
  font-size: 1.6rem;

}

